
:root{
    box-sizing: border-box;
}
.menu{
    display: flex;
}
.section-container{
    display: flex;
}
.footer-container {
    display: flex;
}
.footer-row {
    display: grid;
    place-items: center;
    margin-left: 3vw;
    margin-right: auto;
}
.footer-row span ~ * {
    justify-self: start;
}
