/*Color variables*/
/* test colors when done adding and organizing HTML elements.*/ 
:root {
    --base-color: hsla(0, 0%, 0%, 0.93);
    --base-color-shade-2: hsla(0, 0%, 0%, 0.93);
    --base-color-shade-2: hsla(0, 0%, 0%, 0.93);
    --base-color-shade-2: hsla(0, 0%, 0%, 0.93);

}
